<body class="main-body">
            <div class="banner-area">
              <h2> welcome to farmer friendly and eco-friendly dairy</h2>
            </div>
            <div class="section" id="aboutus">
              <div class="products">
                <h3> Our Products</h3>
                 <img src="images/products.jpg" alt="image">
                 <br>
                 <p>we provide our customers a wide variety of dairy products from organic milk to butter and cheese</span><P>
                 <a href="#">Read More</a>
                </div>
                <div class="products">
                <h3>Our Aim </h3>
                 <img src="images/aim.jpg">
                 <br>
                 <p>To build a <span style="color:green">strong </span><span style="color:red">,healthy </span>and <span style="color:blue">nutritious</span> country by providing an employement to all small-scale farmers <P>
                 <a href="#">Read More</a>
                </div>
                <div class="products">
                <h3>Working</h3>
                 <img src="images/working.png" alt="image">
                 <br>
                 <p> let"s start<P>
                 <a href="#">Read More</a>
              </div>
            </div>
            <div class="foot">
                <footer>
                    <div class="foot-main">
                        <div class="foot1">
                            <h3 font> About us</h3>
                            <p>A dairy is a business enterprise established for the processing of animal milk.mostly from cows or buffaloes,for human consumption.</p>
                            <a href="#">read more</a>
                        </div>
                        <div class="foot2">
                            <h3>find us</h3>
                            <p>BANASHANKARI </P>
                            <p>NEAR BANASHANKARI TTMC</p>
                            <p>BANGALORE-560082</p>
                            <p>TELEPHONE:08518-232205</p>
                        </div>
                        <div class="foot3">
                            <h3>Contact us</h3>
                            <p>Subscribe to get our latest updates and offers.</p>
                            <br>
                            <form class="" action="" method="POST">
                            <input type="email" name="subscribe"  class="emailid" placeholder="Enter Your Email ID"/><button type="submit" onclick=href"www.gmail.com"><span class="maile">submit</span></button>
                            <p>***Don't worry, we wont spam you!</p>
                            </form>
                        </div>
                        <div class="foot4">
                            <h3>follow us</h3>
                            <ul>
                              <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i></a></li>
                              <li><a href="https://www.bing.com/search?q=facebook&form=ANNTH1&refig=57c3a643f07b4d528577f9477c526b74"><i class="fab fa-facebook-square"></i></i></a></li>
                              <li><a href="https://www.bing.com/search?q=twitter&cvid=df49de1cdf96439c8e1c74517c24caca&aqs=edge.0.0l7.4519j0j9&FORM=ANAB01&PC=DCTS"><i class="fab fa-twitter-square"></i></i></a></li>
                            </ul>
                        </div>
                    <//div>
            </div>

    </body>